<app-top-nav-bar [title]="'Rates Top Nav Bar'"></app-top-nav-bar>
<app-breadcrumb [name]="'Rates'"></app-breadcrumb>
<h1>RATES</h1>
<!--<div class="col-3">-->
<!--  <div style="display: block;">-->
<!--    <canvas baseChart width="30" height="30"-->
<!--            [datasets]="lineChartData"-->
<!--            [labels]="lineChartLabels"-->
<!--            [colors]="lineChartColors"-->
<!--            chartType="line"-->
<!--            [plugins]="lineChartPlugins">-->
<!--    </canvas>-->
<!--  </div>-->

<!--</div>-->
<!--
<pre>{{jsonArray | json}}</pre>
-->
<!--<app-news></app-news>-->


<div class="container">
  <div class="row">
    <div class="col-sm ">
      <div style="display: block;">
        <canvas baseChart width="30" height="30"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [colors]="lineChartColors"
                chartType="line"
                [plugins]="lineChartPlugins">
        </canvas>
      </div>
    </div>
    <div class="col-sm ">
      <app-news></app-news>
    </div>
  </div>
</div>
